.profile{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 400px;
height: auto;
margin: 0 auto;
margin-top: 40px;
padding-top: 40px;

&:hover {
transform: scale(1.1);
box-shadow: 0px 2px 2px 2px rgb(114, 31, 231, .2);
}

}
.description {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
}

.avatar {
width: 150px;
margin-bottom: 15px;
border-radius: 50%;
border: 0.5px solid rgb(114, 108, 108);
cursor: pointer;
transition: transform .3s ease;

&:hover {
transform: scale(1.1);
}

}

.name{
font-size: 2rem;
font-weight: 500;
margin: 0;
margin-bottom: 10px;
}

.tag {
margin: 0;
margin-bottom: 10px;
color: gray;
}

.stats{
display: flex;
list-style: none;
width: 100%;
margin: 0;
padding: 0;
justify-content: space-between;
}

.labelli{
margin: 0;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 10px;
background-color: rgb(228, 225, 225);
gap: 10px;
border: 0.1px solid rgb(192, 191, 191);
}

.label{
    color: gray;
}

.quantity{
font-weight: 500;
}


